@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville:ital@1&display=swap");

.dark-menu {
    background-color: #171c28 !important;
    color: white;
}

.dark-menu li a {
    color: white !important;
}

.dark-menu li a:hover {
    background-color: #55198b !important;
}

header {
    z-index: 15;
}

.header {
    background-color: #fff;
    max-width: 100%;
    padding: 10px 10px;
    margin: 0px auto;
    top: 0px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    cursor: pointer;
    font-family: "Source Serif Pro", serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.grey-color {
    color: #868e96;
}

.header li a {
    display: block;
    padding: 8px 10px;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
    border-radius: 15px;
}

.header .logo {
    display: block;
    flex: none;
    float: left;
    font-size: 2em;
    text-decoration: none;
    margin-top: -8px;
    line-height: normal;
    padding-left: 20px;
}

.header .logo-name {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
    padding: 0 10px;
    text-decoration: none;
    color: #007bff;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon-dark:before,
.header .menu-icon .navicon-dark:after {
    background: white !important;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 486px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header .menu {
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media (max-width: 960px) and (min-width: 768px) {
    .header {
        font-size: 12px;
    }
}

@media (max-width: 750px) {
    .header .logo {
        margin-top: 13px;
        font-size: 1.5rem;
        padding-left: 10px;
    }
}

@media (min-width: 750px) and (max-width: 1025px) {
    .header .logo {
        font-size: 1.5rem;
    }
    .header li a {
        font-size: 0.8rem;
    }
}