::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #171c28;
}

::-webkit-scrollbar-thumb {
  background-color: #55198b !important;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(126, 38, 185, 0.959);
  border-radius: 12px;
}

.preloader{
  display: block;
  margin: 30vh auto;
}